if success && success.length
  .alert.alert-success(role='alert')
    i.fa.fa-solid.fa-check
    p= success 
if error && error.length 
  .alert.alert-danger(role='alert')
    i.fa.fa-solid.fa-exclamation
    if error.length > 1
      each err in error
        p [#{err.msg} #{err.param}]  
    else 
      p #{error.msg ? `${error.msg} ${error.params}` : error}  

