extends layout
block content
  .explore-page-wrapper 
    .explore-page-container 
      ul.salon-cards-container 
        if currentUser 
          .salon-create-button-container 
            a(href="/explore/create" class='button button-l salon-create-button border-radius-4px') Add 
        if salons && salons.length
          form(action="")
            label(for="explore_sort") Sort By  
            select#explore_sort(name="explore_sort" onchange='location = this.value')
              option(value="/explore/sort_by_name" selected=(sort_by=='sort_by_name' ? 'selected' : false)) Name 
              option(value="/explore/sort_by_type" selected=(sort_by=='sort_by_type' ? 'selected' : false)) Type 
              option(value="/explore/sort_by_average_price" selected=(sort_by=='sort_by_average_price' ? 'selected' : false)) Average Price
        .salon-card-key 
          .salon-name-container 
            p.bold Name 
          .salon-type-container 
            p.bold Type 
          .salon-average-price-container
            p.bold Average Price 
          .salon-address-container 
            p.bold Address 
        if salons && salons.length
          each salon in salons 
            div
              a(href=`/explore/detail/${salon._id}`) 
                li.salon-card 
                  .salon-name-container 
                    p= salon.name 
                  .salon-type-container 
                    p= salon.type 
                  .salon-average-price-container 
                    p $#{salon.average_price}
                  .salon-address-container 
                    p #{salon.street_address} #{salon.city}, #{salon.state}  #{salon.zip_code}
